body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFE4C4;
}

.container {
    width: 60%;
    margin: 50px auto;
    background-color: #8B4513; 
    padding: 20px;
    border: 15px solid #7ea489; 
    text-align: center;
    border-radius: 3px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #abebf2;
}

h2 {
    text-align:left;
    font-size: 1.8em;
    margin-top: 20px;
    color: #abebf2;
}


p {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: left;
    color: #ffdab9; 
}

ul {
    text-align: left;
    padding-left: 40px;
    font-size: 1.2em;
    line-height: 1.6;
    color: #ffdab9;
}

ul li {
    margin: 10px 0;
}