* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #d1ded4;
  padding: 20px;
  color: #1d3623; 
}

/**this is the css for the container that holds the form**/
.container {
  max-width: 480px;
  margin: 0 auto; 
  /**lighter background so the text pops more**/
  background-color: #FFFFF0; 
  padding: 30px;
  border-radius: 12px; /**this gives the box rounded corners**/
  box-shadow: 0 4px 16px #000016; /**this gives the box a nice shadow to show some contrast**/
}